{{template "template/head.html" .}}
{{template "template/navbar.html" .}}
<!-- Page Header -->
<header class="intro-header" style="background-image: url('static/img/home-bg-bay-bridge.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>Mactavish</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">We are defined by what we've done</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container-fluid">
    <!-- this shows you how to use "with" to redirect the flow,all the "." between "with" and 
    "end" mean the field "article" .Use "with" instead of something like ".article.Title" -->
    {{with .article}}
    <h1 class="post-title">
        {{.Title}}
    </h1>

    <h3 class="post-subtitle">
        {{.Subtitle}}
    </h3>
    <span class="post-meta">
        Posted by {{.Author}} on {{.Createtime}}
    </span>
    {{end}}
    <span>
        {{.text}}
    </span>


</body>
</html>